@charset "utf-8";
body 	{
			background-color:#710273;
			color:#FDFDFD;
			
			}
	
	#wrapper{
			max-width: 1500px;
			background-color:#BC04BF;
			margin: auto;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			
		
			}
	header 	{
			border: solid;
			border-width: medium;
			border-color: black;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
			height: 170px;
			text-transform: uppercase;
			
			background-image:url("images/bannerMBC.png")
		
			}
	nav 	{
			background-color:#BC04BF;
			height: 100px;
			border: inset;
			border-width: medium;
			border-color: black;
			
			}

	main 	{
			background-color:#D5C7D9;
			width: 100%;
			margin-right:20px;
			margin-left: 0px;
			color: #0D0D0D;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 0px;
			padding-left: 2px;
			float:left;
			}
	/*aside 	{
			background-color:#ECDFDF;
			border: inset;
			border-width: medium;
			border-color: black;
			width: 25%;
			float: right;
			}*/
	
	
	footer  {
			clear:both;
			height: 100px;
			text-align: center;
			color: #0D0D0D;
			font-weight: bold;
  
		
			font-size: 20px;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			
			}
	h1      {
			text-align: center;
			font-size: 50px;
			background-color:#BC04BF;
			
			}
	h2      {
			text-align: center;
			font-size: 25px;
			color: #0D0D0D;
			
	
	 		}	
	h3  	{
			color: #000000;
			text-emphasis: strong;
			}
    nav ul  {
			list-style-type: none;
			margin: 0;
			padding: 20px 20px 16px 16px;
			overflow: hidden;
			font-size: 30px;
			
			}
	li a 	{
			display: inline;
			float: left;
			padding-bottom: 10px;
			padding-top: 10px;
		
			
			}
	a:link  {
			text-decoration: none;
			background-color:#000000;
			padding-right: 60px;
			padding-left: 65px;
			text-align: center;
			color:#F7F7F7;
			}
	a:visited
			{
			color:#F7F7F7;
			}
	a:hover {
			background-color:#710273;
			color:#fdfdfd;
			text-decoration: underline;
			}
	
	a:active{
			color:#0D0D0D;
			}
.dropdown	{
			float: left;
			overflow: hidden;
			
			}		
			
.dropdown-content{
			display: none;
			position: absolute;
			background-color:#710273 ;
			min-width: 175px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
	
			}
.dropdown-content a {
			float: none;
			color: #fdfdfd;
			padding: 10px 65px;
			
			display: block;
			text-align: center;
	text-decoration: underline;
			}
.dropdown-content a:hover {
			background-color:#710273 ;
			}
.dropdown:hover .dropdown-content{
			display: block;
			}
/*img			{
			display:inline;
			margin-left:auto;
			margin-right:auto;
			padding-left: 300px;
			padding-right: 75px;
			
}*/

main ul  {
		 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		 text-align: center;
		list-style-type: none;
		}
main p 	{
		text-align: center;
}
img {
	vertical-align: middle;
}

.slideshow-container{
	max-width: 500px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}
/*.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}*/
.prev,.next {
	cursor: pointer;
	position: absolute;
	top:50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
	
}

#mailchimp{
	display: block;
	margin-left: 150px;
	margin-right: auto;
	
	
}
	
	